/* section__gallery light */
.container__gallery {
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
  /* outline: 2px solid tomato; */
}
.container__gallery .subtitle {
  margin-bottom: 44px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}
.gallery__item {
  $item-bookinh: 4;
  // width: 270px;
  width: calc(
    (100% - 30px - ($indent * (($item-bookinh) - 1))) / $item-bookinh
  );
}
/* section__gallery light */
